@keyframes imgLoad {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes loadOut {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes iconLoad {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
  }
  100% {
    opacity: 1;
    transform: rotate(1turn);
    
  }
}
@keyframes progressHeart {
  0% {
    transform: scale(0);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes carDeley {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
