header {
  margin: 10px auto;
  text-align: center;
  top: 0;
  @include tab {
    text-align: left;
    padding-top: 20px;
    box-shadow: 1px 4px 5px 0px #b4b4b4;
  }
  @include laptop {
    // box-shadow: 1px 4px 5px 0px #b4b4b4;
    margin: 0px;
  }

  img {
    width: 50%;
    height: 50%;
    @include tab {
      position: static;
      margin-left: 30px;
      width: 200px;
    }
    @include laptop {
      margin-left: 60px;
    }
  }
  span {
    position: absolute;
    left: 20px;
    top: 25px;
    @include tab {
      left: 95%;
    }
    .fa-arrow-left {
      font-size: 20px;
      @include large-screen {
        font-size: 27px;
      }
      @include tab {
        font-size: 27px;
      }
    }
  }
}
