header {
  margin: 10px auto;
  text-align: center;
  top: 10px;

  @include tab {
    text-align: left;
    box-shadow: 1px 4px 5px 0px #b4b4b4;
  }
  @include laptop {
    padding: 20px 0px;
    // box-shadow: 1px 4px 5px 0px #b4b4b4;
    margin: 0px;
  }

  img {
    width: 50%;
    height: 50%;
  
    // padding-top: 10px;
    @include tab {
      margin-left: 30px;
      width: 200px;
    }
    @include laptop {
      margin-left: 60px;
    }
  }
  span {
    position: absolute;
    left: 20px;
    top: 20px;
    @include tab {
      left: 90%;
      top: 10px;
    }
    @include laptop {
      left: 94%;
      top: 25px;
    }
    .fa-arrow-left {
      font-size: 20px;
      @include large-screen {
        font-size: 27px;
      }
      @include tab {
        font-size: 27px;
      }
    }
  }
}
