img {
  width: 350px;
  height: 200px;
}
button,
.command,
.buttonCard {
  display: block;
  margin: 30px auto auto auto;
  font-size: 14px;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  color: #fff;
  // background: $secondaryColor;
  background: linear-gradient(
    175deg,
    rgba($secondaryColor, 1) 0%,
    rgba($primarycolor, 1) 100%
  );
  font-weight: 700;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.9s 0.2s opacity, box-shadow cubic-bezier(0, 0.26, 0.71, 0.97);
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);
  }
}
.command {
  width: 45%;
  @include large-screen {
    position: relative;
    margin: 0px;
    left: 125%;
    margin-top: 20px;
    // left: -50%;
    // right: -50%;
  }
}
.buttonCard {
  all: unset;
  color: rgb(253, 252, 252);
  margin: 0px 0px;
  border-radius: 0px 15px 15px 0px;
  background: $TertiaryColor;
  width: 0%;
  transition: ease-in-out 0.9s;

  // animation-duration: 0.9s;
  // // animation-delay: 0.5ms;
  // animation-timing-function: linear;
  // animation-name: buttonLoad;
  // animation-direction: reverse;
  // .fa-check-circle {
  //   animation: 1s iconOut linear forwards;
  // }
  // position: relative;

  // opacity: 1;
  .fa-check-circle {
    opacity: 0;
    transform: rotate(0deg);
    transition: 0.9s opacity, transform;
    margin-left: 30%;
    font-size: 20px;
    @include tab {
      margin-left: 40%;
    }
  }
}
