html {
  scroll-behavior: smooth;
}
body {
  font-family: roboto;
}
.loader{
  background-color: rgb(152, 20, 240);

}

ul {
  list-style: none;
  padding: 0;
}

.shrik,
.note {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tab {
    font-size: 28px;
  }
  span {
    font-size: 25px;
    cursor: pointer;
    position: relative;
    .far,
    .fa {
      position: absolute;
      right: 30px;
      top: -16px;
    }
    .fa {
      opacity: 0;
      transition: 1s opacity;
    }
    &:hover .fa {
      color: $primarycolor;
      animation-name: progressHeart;
      animation-duration: 2s;
    }
    &:hover .far {
      color: $primarycolor;
    }
    @include large-screen {
      font-size: 30px;
      margin-right: 30px;
    }
  }
}
.note {
  @include large-screen {
    font-size: 28px;
    padding-top: 20px;
  }
}
