// .hero {
//   img{
//     width: 100%;
//     object-fit: cover;
//   }
// }

section {
  padding-bottom: 40px;
  @include tab {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  @include large-screen {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardMenu {
    h2 {
      margin-left: 20px;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: 3px solid $TertiaryColor;
      padding-top: 30px;
      margin-bottom: 10px;
      width: 0%;
      animation: 1s cardMenu-load ease-in forwards;
      opacity: 0;

      &:hover {
        width: 50px;
        cursor: pointer;
        color: $primarycolor;
      }
      @include large-screen {
        text-align: center;
      }
    }
    .cardText {
      opacity: 0;
      animation: 1s cardText .9ms ease-in forwards ;
      position: relative;
      margin: 12px 10px;
      background-color: #fff;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      border-radius: 15px;
      box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
    .cardText:first-child{
      animation: 5s cardTextFc .3ms  ease-in forwards ;
    }
    .cardText:second-child{
      animation:  cardTextSc .6ms  ease-in forwards ;
    }
      // animation-name: cardText;
      // animation-duration: .9s;
      // animation-delay: .3;

      @include large-screen {
        // background-color: rgb(255, 255, 255);
      }
      h3 {
        font-size: 19px;
        margin-bottom: 5px;
      }
      p {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        // position: relative;
        // transition: 2s 0.2s transform ease-in-out;
        .price {
          margin-right: 10px;
          font-weight: bold;
          transition: 0.6s 0.1s right, color ease-in;
        }
      }
      .display {
        // display: block;
        // display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0px;
        border-radius: 0px 15px 15px 0px;
        margin: 0px;
        width: 0%;
        height: 100%;
        background-color: $TertiaryColor;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
        transition: 0.7s 0.1s width, transform ease-in-out;
        animation: circle 0.3 infinite ease-in-out;
        .fa-check-circle {
          color: rgb(255, 255, 255);
          font-size: 26px;
          position: absolute;
          top: 35%;
          right: -30%;
          // transform: rotate(1turn) translateX(-20px);
          transition: 0.8s;
          opacity: 0;
          // transform:rotate(360deg) infinite 1s linear;

          // display: flex;
          // justify-content: center;
          // align-items: center;
        }
        // display: none;
        // padding-top: 15px;
        // padding-bottom: 15px;
      }
      &:hover .display {
        cursor: pointer;
        width: 20%;
        opacity: 1;
      }
      &:hover .fa-check-circle {
        transform: rotate(1turn);
        opacity: 1;
        cursor: pointer;
        right: 30%;
        @include laptop {
          right: 35%;
        }
      }
      &:hover h3 {
        // padding-right: 70px;
        // display: block;
        width: 60%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
      }
      &:hover p {
        width: 60%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        display: block;
      }
      &:hover .price {
        position: absolute;
        color: $primarycolor;
        transition: 0.7s 0.1s position ease;
        // transition: .7s .1 right ease-out;
        // display: block;
        right: 75px;
        @include laptop {
          transition: 0.7s 0.1s right ease;
          right: 95px;
        }
      }
      // &:hover .fa-check-circle{
      //   transform: rotate(2turn);
      // }
    }
    // .cardText {
    //   h3 {
    //   }
    //   p {
    //   }
    //   span {
    //   }
    // }
  }
}
